In [1]:
import pandas as pd

# Importing Datasets

In [4]:
combined_bbb = pd.read_csv('../data/combined_bbb_classification_no_descr.csv')
combined_bbb.head()

,name,smiles,BBB
0,sulphasalazine,O=C(O)c1cc(N=Nc2ccc(S(=O)(=O)Nc3ccccn3)cc2)ccc1O,0
1,moxalactam,COC1(NC(=O)C(C(=O)O)c2ccc(O)cc2)C(=O)N2C(C(=O)...,0
2,clioquinol,Oc1c(I)cc(Cl)c2cccnc12,0
3,bbcpd11 (cimetidine analog) (y-g13),CCNC(=NCCSCc1ncccc1Br)NC#N,0
4,schembl614298,CN1CC[C@]23c4c5ccc(OC6O[C@H](C(=O)O)[C@@H](O)[...,0

In [3]:
combined_bbb.shape

(9857, 3)

In [5]:
descr = pd.read_csv('../data/rdkit_descriptors.csv')
descr.head()

,MaxAbsEStateIndex,MaxEStateIndex,MinAbsEStateIndex,MinEStateIndex,qed,SPS,MolWt,HeavyAtomMolWt,ExactMolWt,NumValenceElectrons,...,fr_sulfonamd,fr_sulfone,fr_term_acetylene,fr_tetrazole,fr_thiazole,fr_thiocyan,fr_thiophene,fr_unbrch_alkane,fr_urea,smiles
0,12.341010,12.341010,0.023055,-3.794932,0.540588,11.428571,398.400,384.288,398.068491,142.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,O=C(O)c1cc(N=Nc2ccc(S(=O)(=O)Nc3ccccn3)cc2)ccc1O
1,13.190522,13.190522,0.042537,-2.144257,0.133795,22.000000,520.480,500.320,520.101247,190.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,COC1(NC(=O)C(C(=O)O)c2ccc(O)cc2)C(=O)N2C(C(=O)...
2,9.654043,9.654043,0.195000,0.195000,0.758308,10.615385,305.502,300.462,304.910439,66.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Oc1c(I)cc(Cl)c2cccnc12
3,8.544584,8.544584,0.532052,0.532052,0.272365,10.894737,342.266,326.138,341.030979,102.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CCNC(=NCCSCc1ncccc1Br)NC#N
4,11.445328,11.445328,0.165306,-1.798901,0.346256,45.303030,461.467,434.251,461.168581,178.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CN1CC[C@]23c4c5ccc(OC6O[C@H](C(=O)O)[C@@H](O)[...

In [6]:
descr.shape

(9857, 218)

In [8]:
# check for duplicates
print(f'combined_bbb smile duplicates: {combined_bbb['smiles'].duplicated().sum()}')
print(f'descr smile duplicates: {descr['smiles'].duplicated().sum()}')

combined_bbb smile duplicates: 110
descr smile duplicates: 110

In [12]:
# remove duplicates if any
combined_bbb = combined_bbb.drop_duplicates(subset='smiles', keep=False)
descr = descr.drop_duplicates(subset='smiles', keep=False)

In [14]:
combined_bbb.shape, descr.shape

((9637, 3), (9637, 218))

# merge descriptors with combined data

In [16]:
combined_bbb_descr = pd.merge(combined_bbb, descr, on='smiles', how='left')
combined_bbb_descr.head()

,name,smiles,BBB,MaxAbsEStateIndex,MaxEStateIndex,MinAbsEStateIndex,MinEStateIndex,qed,SPS,MolWt,...,fr_sulfide,fr_sulfonamd,fr_sulfone,fr_term_acetylene,fr_tetrazole,fr_thiazole,fr_thiocyan,fr_thiophene,fr_unbrch_alkane,fr_urea
0,sulphasalazine,O=C(O)c1cc(N=Nc2ccc(S(=O)(=O)Nc3ccccn3)cc2)ccc1O,0,12.341010,12.341010,0.023055,-3.794932,0.540588,11.428571,398.400,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,moxalactam,COC1(NC(=O)C(C(=O)O)c2ccc(O)cc2)C(=O)N2C(C(=O)...,0,13.190522,13.190522,0.042537,-2.144257,0.133795,22.000000,520.480,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,clioquinol,Oc1c(I)cc(Cl)c2cccnc12,0,9.654043,9.654043,0.195000,0.195000,0.758308,10.615385,305.502,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,bbcpd11 (cimetidine analog) (y-g13),CCNC(=NCCSCc1ncccc1Br)NC#N,0,8.544584,8.544584,0.532052,0.532052,0.272365,10.894737,342.266,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,schembl614298,CN1CC[C@]23c4c5ccc(OC6O[C@H](C(=O)O)[C@@H](O)[...,0,11.445328,11.445328,0.165306,-1.798901,0.346256,45.303030,461.467,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
combined_bbb_descr.shape

(9637, 220)

In [ ]:
# save data to csv file
combined_bbb_descr.to_csv('../data/combined_bbb_classification.csv', index=False)